@font-face {
	font-family: 'ArDeco2';
	src: url('../fonts/ArDeco2.eot');
	src: url('../fonts/ArDeco2.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ArDeco2.woff') format('woff'),
		url('../fonts/ArDeco2.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

h1, .h1 {
  font-size: 52px;
  line-height: 1.05;
  font-family: "Ardeco2", sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 0.2em;
}