/*------------------------------------------------------------------
[Table of contents]

1. CSS RESET
2. GENERAL DOCUMENT STYLES
		2.1. TYPOGRAHPY	
3. EFFECTS HOVER
4. PRELOADER
5. HOME
		5.1. COUNTDOWN 1 (SLIDER IMAGE)
		5.2. COUNTDOWN 2 (VIDEO VERSION)
		5.3. COUNTDOWN 3 (IMAGE STATIC)
6. MENU
7. FOOTER SOCIAL
8. ABOUT US
9. NEWSLETTER FORM & CONTACT FORM
	
/*------------------------------------------------------------------



/*------------------------------------------------------------------
1. CSS RESET
-------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, hf5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }



/*------------------------------------------------------------------
2. GENERAL DOCUMENT STYLES
-------------------------------------------------------------------*/

body{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	-webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

textarea,
input,
input:hover,
input:focus,
input:active,
input[type="text"], 
input[type="text"]:focus, 
input[type="text"]:hover, 
input[type="text"]:active, 
input[type="email"],
input[type="email"]:focus,
input[type="email"]:hover,
input[type="email"]:active,
button,
button[type="submit"]{
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
		-ms-box-shadow: none;
		 -o-box-shadow: none;
			box-shadow: none;
	outline:0px !important;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: grey;
  opacity: 0.7;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: grey;
  opacity: 0.7;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: grey;
  opacity: 0.7;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: grey;
  opacity: 0.7;
}

a, a:hover{
	color: #fff;
	text-decoration: none;
}

#supersized img{
	max-width: none !important;
}

.back-color {
   	width:100%;
	height:100%;
	display:block;
	position:fixed;
	background: #000;
	opacity: 0.5;
	z-index:0;
}

textarea, 
input[type="text"], 
input[type="text"]:hover, 
input[type="text"]:focus, 
input[type="text"]:active,
input[type="email"], 
input[type="email"]:hover, 
input[type="email"]:focus, 
input[type="email"]:active{
	background: none;
	box-shadow: none !important;
	border: 1px solid #ddd;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 300;
	width: 100%;
	padding: 9px;
	color: #333;
	margin-bottom: 20px;
}

.btn-submit{
	border-radius: 0;
	border: 0;
	box-shadow: none;
	background: #ddd;
	width: 100%;
	padding-top: 5px;
	height: 40px;
	color: #333;
	margin-bottom: 20px;
}

.poster-image {
	background:url('../lander/makeup/img/brooklynbeautybar.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		-ms-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
	width: 100%;
	height: 100%;
	z-index: -1 !important;
	backface-visibility: hidden;
	background-position: center center;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}

#fullscreen-vimeo {
    background-color: #000000;
    height: 100%;
    left: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -2;
	overflow: hidden;
}
#fullscreen-wrap {
    height: 360px;
    left: 0;
    position: absolute;
    top: 0;
    width: 640px;
}
#fullscreen-vimeo iframe {
    border: none;
    display: block;
    height: 100%;
    width: 100%;	
}

#cookies-message{
	position: absolute;
	z-index: 1001;
	background: rgba(0,0,0,0.75);
	font-size: 13px;
	padding: 20px 25px 20px 25px;
	bottom: 0px;
}

#cookies-message p {
	color: #fff;
	line-height: 1.3em;
}

#cookies-message a.close-cookies{
	width: 100%;
	display: inline-block;
}

#cookies-message a.close-cookies img{
	width: 18px;
	float: right;
}



		/*------------------------------------------------------------------
		2.1. TYPOGRAHPY
		-------------------------------------------------------------------*/
		
		h1,h2{
			color: #fff;
			font-family: 'Montserrat', sans-serif;
			font-size: 35px;
			font-weight: 700;
			overflow: hidden;
			letter-spacing: -1px;
		}
		
		h3{
			color: #fff;
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			font-weight: 700;
			overflow: hidden;
		}



/*------------------------------------------------------------------
3. EFFECTS HOVER
-------------------------------------------------------------------*/

a, h1, 
.btn-submit, 
.morph-button-modal-3 .morph-content .btn-submit h3,
.member-info ul li a span {
	-webkit-transition: all 0.35s ease-in-out;
   	   -moz-transition: all 0.35s ease-in-out;
   		 -o-transition: all 0.35s ease-in-out;
   		-ms-transition: all 0.35s ease-in-out;
   			transition: all 0.35s ease-in-out;
}

.morph-button-overlay .morph-content .button-close-icon,
.morph-button-modal-2 .morph-content .button-close-icon,
.morph-button-modal-3 .morph-content .button-close-icon{
	-webkit-transition: all 0.2s ease-in-out;
   	   -moz-transition: all 0.2s ease-in-out;
   		 -o-transition: all 0.2s ease-in-out;
   		-ms-transition: all 0.2s ease-in-out;
   			transition: all 0.2s ease-in-out;
}



/*------------------------------------------------------------------
4. PRELOADER
-------------------------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 999;
}

#loading-animation {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../lander/makeup/img/loader.gif); 
    background-repeat: no-repeat;
    background-position: center;
    margin: -50px 0 0 -50px;
}



/*------------------------------------------------------------------
5. HOME
-------------------------------------------------------------------*/

#supersized img{
	max-width: none !important;
}

h1{
	margin-bottom: 20px;
}

h1 a{
	display: inline-block;
	padding: 15px 30px;
	border: 1px solid #fff;
}

h1 a:hover{
	color: #442c1b;
	border: 1px solid #442c1b;
}

h1:before,
h1:after {
	background-color: rgba(255,255,255,0.5);
	content: "";
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}

h1:before {
	right: 0.5em;
	margin-left: -50%;
}

h1:after {
	left: 0.5em;
	margin-right: -50%;
}

.intro{
	line-height: 25px;
}



		/*------------------------------------------------------------------
		5.1. COUNTDOWN 1 (SLIDER IMAGE)
		-------------------------------------------------------------------*/
		
		.timer{
			margin-top: 40px;
			width: 100%;
			text-align: center !important;
		}
		
		.timer ul li{
			display: inline-block;
			border-right: 1px solid rgba(255,255,255,0.5);
			min-width: 170px;
			padding: 25px 35px;
		}
		
		.timer ul li:last-child{
			border-right: 0px;
		}
		
		.timer ul li span{
			font-family: 'Montserrat', sans-serif;
			font-size: 77px;
			font-weight: 700;
			letter-spacing: -3px;
		}
		
		.timer ul li p{
			font-family: 'Montserrat', sans-serif;
			font-size: 16px;
			font-weight: 400;
		}



		/*------------------------------------------------------------------
		5.2. COUNTDOWN 2 (VIDEO VERSION)
		-------------------------------------------------------------------*/
		
		#DateCountdown{
			margin-top: 20px;
			width: 100%;
		}
		
		.time_circles {
		    position: relative;
		    width: 100%;
		    height: 100%;
		}
		
		.time_circles > div {
		    position: absolute;
		    text-align: center;
		}
		
		.time_circles > div > h4 {
		    font-family: 'Montserrat', sans-serif;
			font-size: 16px;
			font-weight: 400;
			line-height: 30px;
		}
		
		.time_circles > div > span {
		    font-family: 'Montserrat', sans-serif;
			font-size: 77px;
			font-weight: 700;
			letter-spacing: -3px;
			line-height: 50px;
		}



		/*------------------------------------------------------------------
		5.3. COUNTDOWN 3 (IMAGE STATIC)
		-------------------------------------------------------------------*/
		
		.timer2{
			margin-top: 40px;
			font-size: 30px;
		    font-weight: 300;
		    line-height: 40px;
		    letter-spacing: -1px;
		}
		
		.timer2 .days, 
		.timer2 .hours, 
		.timer2 .minutes, 
		.timer2 .seconds{
		    font-size: 55px;
		    font-family: 'Montserrat', sans-serif;
		    font-weight: 400;
		    letter-spacing: -3px;
		}
		
		.timer2 .separate{
			font-size: 55px;
		    font-weight: 300;
		}
		
		#sample-pb article{
			width: 90%;
			margin: 0 auto;
		}
		
		.number-pb {
		 	position: relative;
		  	height: 1px;
		  	background-color: rgba(255,255,255,0.5);
		  	margin: 20px 0px 40px 0px;
		}
		
		.number-pb .number-pb-shown {
		  	position: absolute;
		  	background-color: #fff;
		  	top: -1px;
		 	left: 0;
		  	height: 3px;
		 	-webkit-box-shadow: 0 0 3px 0 #ffffff;
		       -moz-box-shadow: 0 0 3px 0 #ffffff;
				 -o-box-shadow: 0 0 3px 0 #ffffff;
		  		-ms-box-shadow: 0 0 3px 0 #ffffff;
		  			box-shadow: 0 0 3px 0 #ffffff;
		}
		
		.number-pb .number-pb-num {
			font-family: 'Montserrat', sans-serif;
			font-size: 16px;
			font-weight: 400;
		  	position: absolute;
		  	color: #fff;
		  	left: -1em;
		  	top: 0.5em;
		}



/*------------------------------------------------------------------
6. MENU
-------------------------------------------------------------------*/

.menu{
	margin: 30px 0px 40px 0px;
}

.menu a.button {
	width: 170px;
	padding: 10px 20px;
	position: relative;
	display: inline-block;
	outline: none;
	text-decoration: none;
	letter-spacing: -1px;
}

.menu a.button:hover,
.menu a.button:focus {
	outline: none;
}

.menu a.button::before,
.menu a.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0.2;
	-webkit-transition: opacity 0.3s, height 0.3s;
	   -moz-transition: opacity 0.3s, height 0.3s;
		 -o-transition: opacity 0.3s, height 0.3s;
		-ms-transition: opacity 0.3s, height 0.3s;
			transition: opacity 0.3s, height 0.3s;
}

.menu a.button::after {
	top: 100%;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	   -moz-transition: -moz-transform 0.3s, opacity 0.3s;
		 -o-transition: -moz-transform 0.3s, opacity 0.3s;
		-ms-transition: -moz-transform 0.3s, opacity 0.3s;
			transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateY(-10px);
	   -moz-transform: translateY(-10px);
		 -o-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
			transform: translateY(-10px);
}

.menu a.button span:first-child {
	z-index: 2;
	display: block;
	font-weight: 300;
}

.menu a.button span:last-child {
	z-index: 1;
	display: block;
	padding: 8px 0 0 0;
	text-shadow: none;
	font-size: 14px;
	fonw-weight: 300;
	text-transform: none;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	   -moz-transition: -moz-transform 0.3s, opacity 0.3s;
		 -o-transition: -moz-transform 0.3s, opacity 0.3s;
		-ms-transition: -moz-transform 0.3s, opacity 0.3s;
			transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateY(-100%);
	   -moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		 -o-transform: translateY(-100%);
			transform: translateY(-100%);
}

.menu a.button:hover::before,
.menu a.button:hover::after {
	background: #442c1b;
}

.menu a.button:hover::before,
.menu a.button:focus::before {
	height: 4px;
}

.menu a.button:hover::before,
.menu a.button:hover::after,
.menu a.button:focus::before,
.menu a.button:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	   -moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		 -o-transform: translateY(0px);
			transform: translateY(0px);
}

.menu a.button:hover span:last-child,
.menu a.button:focus span:last-child {
	opacity: 1;
	-webkit-transform: translateY(0%);
	   -moz-transform: translateY(0%);
		-ms-transform: translateY(0%);
		 -o-transform: translateY(0%);
			transform: translateY(0%);
}



/*------------------------------------------------------------------
7. FOOTER SOCIAL
-------------------------------------------------------------------*/

.footer-social li{
	display: inline-block;
}

.footer-social li a { 
	display: inline-block;
	padding: 10px;
	background: none;
	color:rgba(255, 255, 255, 0.5);
	font-size: 20px;
}

ul.footer-social a:hover { 
	color:rgba(255, 255, 255, 0.8);
}

ul.footer-social a.facebook:hover { 
	background: rgba(59,89,152,0.8);
}

ul.footer-social a.twitter:hover { 
	background: rgba(0,172,237,0.8);
}

ul.footer-social a.skype:hover { 
	background: rgba(42,164,233,0.8);
}

ul.footer-social a.linkedin:hover { 
	background: rgba(0,123,182,0.8);
}

ul.footer-social a.pinterest:hover { 
	background: rgba(203,32,39,0.8);
}

ul.footer-social a.instagram:hover { 
	background: rgba(81,127,164,0.8);
}

ul.footer-social a.googleplus:hover { 
	background: rgba(221,75,57,0.8);
}

ul.footer-social a.dribbble:hover { 
	background: rgba(236,74,137,0.8);
}

ul.footer-social a.vimeo:hover { 
	background: rgba(170,212,80,0.8);
}



/*------------------------------------------------------------------
8. ABOUT US
-------------------------------------------------------------------*/

.morph-button.morph-button-overlay{
	display: inline-block;
	margin: 10px 15px;
}

.morph-button-overlay .morph-content{ 
	background-color: rgba(0,0,0,0.9); 
	padding: 30px;
}

.morph-button-overlay .morph-content .button-close{ 
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	font-size: 40px;
	text-align: right;
}

.morph-button-overlay .morph-content .button-close-icon{ 
	opacity: 0.5;
	cursor: pointer;
}

.morph-button-overlay .morph-content .button-close-icon:hover{ 
	opacity: 1;
}

.morph-button-overlay .morph-content h2{
	margin-bottom: 30px;
}

.about-us-content{
	text-align: left;
	line-height: 23px;
	font-size: 14px;
}

.about-us-content h3{
	margin-bottom: 5px;
}

.about-us-content p{
	margin-bottom: 20px;
}

.about-us-content ul li{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 15px;
}

.about-us-content ul li span{
	display: inline-block;
	padding: 2px;
	font-size: 20px;
	margin-right: 10px;
}

.member{
	clear: both;
	float: left;
	margin-bottom: 20px;
}

.member-image{
	display: inline-block;
	float: left;
	max-width: 170px !important;
	border-radius: 4px;
	margin-right: 20px;
}

.member-info ul li{
	float: left;
}

.member-info ul li a span{
	display: inline-block;
	padding: 3px 5px;
	font-size: 16px;
	margin-right: 10px;
}

.member-info ul li a:hover span{
	color: #fff;
	background: #442c1b;
}

.tweets{
	float: left;
	width: 100%;
}

.tweets-image{
	margin-right: 20px;
	float: left;
	font-size: 25px;
}

.list-tweets{
	height: 50px;
	margin-top: 5px;
}

.list-tweets .twitter-article li{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.list-tweets .twitter-article li a{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}



/*------------------------------------------------------------------
9. NEWSLETTER FORM & CONTACT FORM
-------------------------------------------------------------------*/

.morph-button-modal-2 .morph-content,
.morph-button-modal-3 .morph-content{ 
	background-color: #fff; 
	padding: 30px;
}

.morph-button-modal-2 .morph-content .button-close,
.morph-button-modal-3 .morph-content .button-close{ 
	color: #333;
	display: inline-block;
	width: 100%;
	margin-bottom: 0px;
	font-size: 25px;
	text-align: right
}

.morph-button-modal-2 .morph-content .button-close-icon,
.morph-button-modal-3 .morph-content .button-close-icon{ 
	float: right;
	opacity: 0.5;
	cursor: pointer;
}

.morph-button-modal-2 .morph-content .button-close-icon:hover,
.morph-button-modal-3 .morph-content .button-close-icon:hover{ 
	opacity: 1;
}

.morph-button-modal-2 .morph-content h2,
.morph-button-modal-3 .morph-content h2{
	color: #333;
	margin-bottom: 20px;
}

.morph-button-modal-2 .morph-content h3,
.morph-button-modal-3 .morph-content h3{
	color: #333;
	text-align: left;
	margin-bottom: 5px;
}

.morph-button-modal-2 .morph-content .btn-submit,
.morph-button-modal-3 .morph-content .btn-submit{
	margin-bottom: 10px;
	color: #333;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
	overflow: hidden;
	text-align: center;
}

.morph-button-modal-2 .morph-content .btn-submit:hover,
.morph-button-modal-3 .morph-content .btn-submit:hover{
	background: #442c1b;
	color: #fff;
}

.valid, 
.error,
.success-message,
.error-message,
.success-message-2,
.error-message-2{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.valid,
.success-message,
.success-message-2{
	color: #009036;	
}

.error,
.error-message,
.error-message-2{
	color: #ff0000;
}
